POSTGRES_DB=portal_db
POSTGRES_USER=portal_user
POSTGRES_PASSWORD=portal_password
JWT_SECRET=cambia-esta-clave-por-una-cadena-larga-y-segura
JWT_EXPIRES_IN=1h
VITE_API_URL=http://localhost:3000
VITE_RICK_AND_MORTY_API_URL=https://rickandmortyapi.com/api/character
